# **Notebook: Pandas**

- Maestría en Inteligencia Artificial y Analítica de Datos
- Universidad Autónoma de Ciudad Juárez
- Lunes 27 de enero de 2025
- Sesión 02 - Síncrona

---
**Objetivo:** Familiarizar a los estudiantes con las principales funcionalidades de la librería Pandas para la manipulación y análisis de datos en Python.

# **Pandas**

![image.png]()

# **Pandas**

¿Qué es Pandas?
* Biblioteca para análisis y manipulación de datos.
* Una gran importancia en el ecosistema de Python para la ciencia de datos.
*Principales estructuras de datos:
 - Series: unidimensional.
 - DataFrame: estructura de datos bidimensional. Se implementa en Python como una clase y cuando se crea una o hace referencia se le denomina objeto o instancia
* Proporcionan una forma estructurada y legible de manejar datos tabulares (filas y columnas).
* Soportan datos heterogéneos y operaciones específicas para análisis de datos.
* Ofrecen índices para una manipulación más intuitiva de datos.
* Fácil integración con otras bibliotecas como Scikit-learn y Matplotlib.
* Obtener datos por medeio de un API y crear un dataframe
* Exploración inicial y estadística descriptiva de conjuntos de datos.

## **DataFrames**
* Estructura de datos bidimensional (filas y columnas).
* Similar a una hoja de cálculo o tabla en SQL.
* Parte fundamental de la biblioteca Pandas.
* Fuente de datos:
  * Diccionarios de Python.
  * Archivos CSV/Excel.
  * Desde listas de listas.

Para poder usar DataFrames, es necesario importar la biblioteca Pandas:

```python
# Código de ejemplo
import pandas as pd

```

## **Creación de un DataFrame**

Creación de un DataFrame:
1. Desde un diccionario.
1. Desde un archivo CSV/Excel.

### **Crear a partir de diccionarios, tuplas, listas**

Existen diversas formas de crear un dataframe.

In [1]:
import pandas as pd

# Datos de estudiantes
data = {
    'Estudiante': ['Juan', 'María', 'Pedro', 'Ana'],
    'Matemáticas': [8, 9, 6, 7],
    'Lengua': [7, 9, 8, 6]
}

# Estudiante, Matemáticas y Lengua son los nombres de las columnas
# Agrega automáticamente  un indice numérico de forma secuencial
# Se le puede asignar un nombre a la columna de índice
# Crear DataFrame
df = pd.DataFrame(data)
print(df)

  Estudiante  Matemáticas  Lengua
0       Juan            8       7
1      María            9       9
2      Pedro            6       8
3        Ana            7       6

In [3]:
import numpy as np
import datetime as dt

np.random.seed(0) # set seed so result is reproducible
datos =pd.DataFrame(
    {
        'random': np.random.rand(5),
        'text': ['hot', 'warm', 'cool', 'cold', None],
        'truth': [np.random.choice([True, False]) for _ in range(5)]
    },
    index=pd.date_range(
        end=dt.date(2019, 4, 21),
        freq='1D',
        periods=5,
        name='date'
    )
)

print(datos)

              random  text  truth
date
2019-04-17  0.548814   hot  False
2019-04-18  0.715189  warm   True
2019-04-19  0.602763  cool   True
2019-04-20  0.544883  cold  False
2019-04-21  0.423655  None   True

In [4]:
#Se puede crear a partir de una lista de diccionario

datos = pd.DataFrame([
    {'mag': 5.2, 'place': 'California'},
    {'mag': 1.2, 'place': 'Alaska'},
    {'mag': 0.2, 'place': 'California'},
])

print(datos)

   mag       place
0  5.2  California
1  1.2      Alaska
2  0.2  California

In [7]:
#Se puede crear a partir de una lista de tuplas
list_of_tuples = [(n, n**2, n**3) for n in range(5)]
print(list_of_tuples)

datos =pd.DataFrame(
    list_of_tuples,
    columns=['n', 'n_squared', 'n_cubed']
)

print(datos)

[(0, 0, 0), (1, 1, 1), (2, 4, 8), (3, 9, 27), (4, 16, 64)]
   n  n_squared  n_cubed
0  0          0        0
1  1          1        1
2  2          4        8
3  3          9       27
4  4         16       64

### **Guardar un dataframe generado**

Se puede guardar el dataframe generado en en drive de Colab.

Antes de hacer este ejercicio verifica que esté cargado el drive

In [8]:
# Crear datos ficticios de estudiantes, asignaturas y notas
data = {
    'Estudiante': ['Juan', 'María', 'Pedro', 'Ana', 'Luis', 'Sofía', 'Carlos', 'Elena'],
    'Curso': ['A', 'A', 'B', 'B', 'A', 'A', 'B', 'B'],
    'Matemáticas': [8, 9, 6, 7, 8, 9, 5, 6],
    'Lengua': [7, 9, 8, 6, 8, 7, 6, 7],
    'Ciencias': [6, 8, 7, 5, 6, 8, 4, 6]
}

# Crear el DataFrame
df = pd.DataFrame(data)

# Guardar el DataFrame en un archivo CSV
df.to_csv('estudiantes.csv', index=False) #se genera en la raiz del colab
print("Archivo 'estudiantes.csv' generado exitosamente.")

Archivo 'estudiantes.csv' generado exitosamente.

### **Crear un dataframe a partir de un archivo**

En este ejercicio vamos a emplear los siguientes conjuntos:



1.   estudiantes.csv (creado en el ejercicio anterior y que está en drive)
2.   gapminder.tsv (En Teams, cargarlo en el drive en la carpeta ClassFiles)
3. quakes.db (En Teams, cargarlo en el drive en la carpeta ClassFiles). Base de datos SQL

In [9]:
# Leer el archivo CSV
# La separación por default es coma (,)
df = pd.read_csv('/content/estudiantes.csv')

# Mostrar las primeras 5 filas
print(df.head())

  Estudiante Curso  Matemáticas  Lengua  Ciencias
0       Juan     A            8       7         6
1      María     A            9       9         8
2      Pedro     B            6       8         7
3        Ana     B            7       6         5
4       Luis     A            8       8         6

Puedo indicar la separación al cargar el archivo

In [10]:
#Separación por un tabulador

df = pd.read_csv('/content/drive/MyDrive/ClassFiles/gapminder.tsv', sep='\t')

# Mostrar las primeras 5 filas
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

Podemos crear un dataframe a partir de una base de datos. En este ejercicios usaremos la base de datos quakes.db que contiene una sola tabla llamada Tsunamis.

Existen dos formas de crear un dataframe a partir de una base de datos. Para ello, necesitamos cargar la biblioteca sqlite3 y que la base de datos quake.db esté cargada en el drive

In [12]:
import sqlite3

with sqlite3.connect('/content/drive/MyDrive/ClassFiles/quakes.db') as connection:
  tsunamis = pd.read_sql('SELECT * FROM Tsunamis', connection)

print(tsunamis.head())

   alert        type                                              title  \
0   None  earthquake  M 5.0 - 165km NNW of Flying Fish Cove, Christm...
1  green  earthquake            M 6.7 - 262km NW of Ozernovskiy, Russia
2  green  earthquake        M 5.6 - 128km SE of Kimbe, Papua New Guinea
3  green  earthquake         M 6.5 - 148km S of Severo-Kuril'sk, Russia
4  green  earthquake        M 6.2 - 94km SW of Kokopo, Papua New Guinea

                                             place magType  mag           time
0  165km NNW of Flying Fish Cove, Christmas Island     mww  5.0  1539459504090
1                  262km NW of Ozernovskiy, Russia     mww  6.7  1539429023560
2              128km SE of Kimbe, Papua New Guinea     mww  5.6  1539312723620
3               148km S of Severo-Kuril'sk, Russia     mww  6.5  1539213362130
4              94km SW of Kokopo, Papua New Guinea     mww  6.2  1539208835130

## **Crear un dataframe usando un API**

Es una estrategia que se suele usar para extraer información de páginas web u otros recursos en línea. SIn embargo, no garantiza que podamos acceder, por restricciones del sitio, y obtener los mismo datos.

In [67]:
import datetime as dt
import pandas as pd
import requests

yesterday = dt.date.today() - dt.timedelta(days=1)
api = 'https://earthquake.usgs.gov/fdsnws/event/1/query'
payload = {
    'format': 'geojson',
    'starttime': yesterday - dt.timedelta(days=30),
    'endtime': yesterday
}
response = requests.get(api, params=payload)

# let's make sure the request was OK
#200 is an indicator was OK
response.status_code

200

Aislamos los datos de la respuesta JSON
Necesitamos verificar las estructuras de los datos de respuesta para saber dónde están nuestros datos.

In [68]:
earthquake_json = response.json()
earthquake_json.keys()

dict_keys(['type', 'metadata', 'features', 'bbox'])

La API del USGS proporciona información sobre nuestra solicitud en la clave de metadatos. Tenga en cuenta que el resultado será diferente, independientemente del rango de fechas que elija, porque la API incluye una marca de tiempo que indica cuándo se extrajeron los datos:

In [69]:
earthquake_json['metadata']

{'generated': 1738023249000,
 'url': 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2024-12-28&endtime=2025-01-27',
 'title': 'USGS Earthquakes',
 'status': 200,
 'api': '1.14.1',
 'count': 9115}

Cada elemento de la matriz JSON es una fila de datos para nuestro dataframe.

In [70]:
type(earthquake_json['features'])

list

Sus datos serán diferentes dependiendo de la fecha en que ejecute esto.

In [71]:
earthquake_json['features'][0]

{'type': 'Feature',
 'properties': {'mag': 0.64,
  'place': '7 km NNW of The Geysers, CA',
  'time': 1737935836080,
  'updated': 1737935930509,
  'tz': None,
  'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/nc75123616',
  'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=nc75123616&format=geojson',
  'felt': None,
  'cdi': None,
  'mmi': None,
  'alert': None,
  'status': 'automatic',
  'tsunami': 0,
  'sig': 6,
  'net': 'nc',
  'code': '75123616',
  'ids': ',nc75123616,',
  'sources': ',nc,',
  'types': ',nearby-cities,origin,phase-data,',
  'nst': 7,
  'dmin': 0.0004512,
  'rms': 0.01,
  'gap': 142,
  'magType': 'md',
  'type': 'earthquake',
  'title': 'M 0.6 - 7 km NNW of The Geysers, CA'},
 'geometry': {'type': 'Point',
  'coordinates': [-122.809501647949, 38.8233337402344, 3.25999999046326]},
 'id': 'nc75123616'}

**Convertir a DataFrame**
Necesitamos extraer la sección de propiedades de cada entrada en la matriz JSON para crear nuestro dataframe.

In [72]:
earthquake_properties_data = [
    quake['properties'] for quake in earthquake_json['features']
]
df = pd.DataFrame(earthquake_properties_data)
df.head()

,mag,place,time,updated,tz,url,detail,felt,cdi,mmi,...,ids,sources,types,nst,dmin,rms,gap,magType,type,title
0,0.64,"7 km NNW of The Geysers, CA",1737935836080,1737935930509,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",nc75123616,",",nc,",",nearby-cities,origin,phase-data,",7.0,0.000451,0.01,142.0,md,earthquake,"M 0.6 - 7 km NNW of The Geysers, CA"
1,1.80,"21 km ESE of Lindsay, Texas",1737935261325,1737935769371,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",tx2025bvms,",",tx,",",origin,phase-data,",8.0,0.000000,0.60,163.0,ml,earthquake,"M 1.8 - 21 km ESE of Lindsay, Texas"
2,1.27,"2 km NNE of Helper, Utah",1737934766020,1738008576360,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",uu80100106,",",uu,",",origin,phase-data,",11.0,0.083200,0.15,153.0,ml,earthquake,"M 1.3 - 2 km NNE of Helper, Utah"
3,2.00,"63 km WNW of Beluga, Alaska",1737934617955,1737934800342,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",ak02517dvu03,",",ak,",",origin,phase-data,",NaN,NaN,0.77,NaN,ml,earthquake,"M 2.0 - 63 km WNW of Beluga, Alaska"
4,2.10,"24 km E of Forsan, Texas",1737934368323,1737989713434,None,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/fdsnws/event/1/que...,NaN,NaN,NaN,...,",tx2025bvmf,",",tx,",",origin,phase-data,",24.0,0.200000,0.10,65.0,ml,earthquake,"M 2.1 - 24 km E of Forsan, Texas"

## **Exploración de un dataframe**

Algunas ejemplos son
* df.empty
* df.shape
* df.columns
* df.head()
* df.tail()
* df.info()

* df.describe()

In [27]:
#Vamos a explorar la base de datos tsunamis

#Para verificar si el dataframe está vacio

tsunamis.empty

False

In [28]:
#La cantidad de filas y columnas

tsunamis.shape

(61, 7)

In [29]:
#los Nombres de las columnas

tsunamis.columns

Index(['alert', 'type', 'title', 'place', 'magType', 'mag', 'time'], dtype='object')

In [30]:
#imprimir las primeras 5 líneas

print(tsunamis.head())

#imprimir las dos últimas líneas

print(tsunamis.tail(5))

   alert        type                                              title  \
0   None  earthquake  M 5.0 - 165km NNW of Flying Fish Cove, Christm...
1  green  earthquake            M 6.7 - 262km NW of Ozernovskiy, Russia
2  green  earthquake        M 5.6 - 128km SE of Kimbe, Papua New Guinea
3  green  earthquake         M 6.5 - 148km S of Severo-Kuril'sk, Russia
4  green  earthquake        M 6.2 - 94km SW of Kokopo, Papua New Guinea

                                             place magType  mag           time
0  165km NNW of Flying Fish Cove, Christmas Island     mww  5.0  1539459504090
1                  262km NW of Ozernovskiy, Russia     mww  6.7  1539429023560
2              128km SE of Kimbe, Papua New Guinea     mww  5.6  1539312723620
3               148km S of Severo-Kuril'sk, Russia     mww  6.5  1539213362130
4              94km SW of Kokopo, Papua New Guinea     mww  6.2  1539208835130
    alert        type                                             title  \
56   None  earthquake        M 5.4 - 228km S of Taron, Papua New Guinea
57   None  earthquake      M 5.1 - 278km SE of Pondaguitan, Philippines
58  green  earthquake              M 5.1 - 64km SSW of Kaktovik, Alaska
59   None  earthquake               M 5.2 - 126km N of Dili, East Timor
60   None  earthquake  M 5.1 - 34km NW of Finschhafen, Papua New Guinea

                                       place magType  mag           time
56        228km S of Taron, Papua New Guinea      mb  5.4  1537427126700
57      278km SE of Pondaguitan, Philippines      mb  5.1  1537411002190
58              64km SSW of Kaktovik, Alaska      ml  5.1  1537274456960
59               126km N of Dili, East Timor      mb  5.2  1537262729590
60  34km NW of Finschhafen, Papua New Guinea      mb  5.1  1537236235470

In [31]:
#Los tipos de atributos

print(tsunamis.dtypes)

alert       object
type        object
title       object
place       object
magType     object
mag        float64
time         int64
dtype: object

In [32]:
#Resumen de los datos numéricos
print(tsunamis.describe())

             mag          time
count  61.000000  6.100000e+01
mean    5.358033  1.538420e+12
std     0.675741  5.569586e+08
min     3.830000  1.537236e+12
25%     5.000000  1.538130e+12
50%     5.200000  1.538305e+12
75%     5.700000  1.538904e+12
max     7.500000  1.539460e+12

In [33]:
#información sobre el dataframe
#Solo considera los daotos no-nulos

print(tsunamis.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   alert    26 non-null     object
 1   type     61 non-null     object
 2   title    61 non-null     object
 3   place    61 non-null     object
 4   magType  61 non-null     object
 5   mag      61 non-null     float64
 6   time     61 non-null     int64
dtypes: float64(1), int64(1), object(5)
memory usage: 3.5+ KB
None

## **Seleccionar Columnas y filas**



1.   Columnas: df.nombrecolumna,df['nombrecolumna'], df[lista de columnas]
2.   Filas y columnas (indexación- extrae un subconjunto): df.iloc[], df.loc[]
3. Filas  (segmentación)

In [41]:
#Columnas

print(tsunamis.columns)

print(tsunamis.mag)

print(tsunamis['mag'])

print(tsunamis[['mag','title']])

Index(['alert', 'type', 'title', 'place', 'magType', 'mag', 'time'], dtype='object')
0     5.0
1     6.7
2     5.6
3     6.5
4     6.2
     ...
56    5.4
57    5.1
58    5.1
59    5.2
60    5.1
Name: mag, Length: 61, dtype: float64
0     5.0
1     6.7
2     5.6
3     6.5
4     6.2
     ...
56    5.4
57    5.1
58    5.1
59    5.2
60    5.1
Name: mag, Length: 61, dtype: float64
    mag                                              title
0   5.0  M 5.0 - 165km NNW of Flying Fish Cove, Christm...
1   6.7            M 6.7 - 262km NW of Ozernovskiy, Russia
2   5.6        M 5.6 - 128km SE of Kimbe, Papua New Guinea
3   6.5         M 6.5 - 148km S of Severo-Kuril'sk, Russia
4   6.2        M 6.2 - 94km SW of Kokopo, Papua New Guinea
..  ...                                                ...
56  5.4         M 5.4 - 228km S of Taron, Papua New Guinea
57  5.1       M 5.1 - 278km SE of Pondaguitan, Philippines
58  5.1               M 5.1 - 64km SSW of Kaktovik, Alaska
59  5.2                M 5.2 - 126km N of Dili, East Timor
60  5.1   M 5.1 - 34km NW of Finschhafen, Papua New Guinea

[61 rows x 2 columns]

In [42]:
#Filas y columnas (indexación- extrae un subconjunto): df.iloc[], df.loc[]
#df.loc[row_indexer,column_indexer]
#OJO: el índice incluye el valor superior

print(tsunamis.loc[0:2,['mag','title']])

   mag                                              title
0  5.0  M 5.0 - 165km NNW of Flying Fish Cove, Christm...
1  6.7            M 6.7 - 262km NW of Ozernovskiy, Russia
2  5.6        M 5.6 - 128km SE of Kimbe, Papua New Guinea

In [44]:
#Imprime todas las filas y la columna title
print(tsunamis.loc[:,'title'])

0     M 5.0 - 165km NNW of Flying Fish Cove, Christm...
1               M 6.7 - 262km NW of Ozernovskiy, Russia
2           M 5.6 - 128km SE of Kimbe, Papua New Guinea
3            M 6.5 - 148km S of Severo-Kuril'sk, Russia
4           M 6.2 - 94km SW of Kokopo, Papua New Guinea
                            ...
56           M 5.4 - 228km S of Taron, Papua New Guinea
57         M 5.1 - 278km SE of Pondaguitan, Philippines
58                 M 5.1 - 64km SSW of Kaktovik, Alaska
59                  M 5.2 - 126km N of Dili, East Timor
60     M 5.1 - 34km NW of Finschhafen, Papua New Guinea
Name: title, Length: 61, dtype: object

In [45]:
#iloc se usa para obtener un conjunto usando solo indices

print(tsunamis.iloc[0:2,0:2])

   alert        type
0   None  earthquake
1  green  earthquake

In [46]:
#para extraer filas

#el indice de las filas no incluye el último valor

print(tsunamis[10:14])

    alert        type                                             title  \
10   None  earthquake         M 5.3 - 65km NNW of Lae, Papua New Guinea
11   None  earthquake  M 5.4 - 62km NW of Finschhafen, Papua New Guinea
12  green  earthquake               M 4.0 - 71km SW of Kaktovik, Alaska
13   None  earthquake                 M 5.1 - 13km E of Palu, Indonesia

                                       place magType  mag           time
10         65km NNW of Lae, Papua New Guinea      mb  5.3  1539150837980
11  62km NW of Finschhafen, Papua New Guinea     mww  5.4  1539136980090
12               71km SW of Kaktovik, Alaska      ml  4.0  1539069081499
13                 13km E of Palu, Indonesia      mb  5.1  1539033346530

## **Filtrado Booleano**

In [47]:
#Devuelve False o True
print(tsunamis.mag > 5)

0     False
1      True
2      True
3      True
4      True
      ...
56     True
57     True
58     True
59     True
60     True
Name: mag, Length: 61, dtype: bool

In [49]:
#Extrae un subconjunto del dataframe
print(tsunamis[tsunamis.mag >= 7.0])

    alert        type                                       title  \
7   green  earthquake  M 7.0 - 117km E of Kimbe, Papua New Guinea
47    red  earthquake           M 7.5 - 78km N of Palu, Indonesia

                                 place magType  mag           time
7   117km E of Kimbe, Papua New Guinea     mww  7.0  1539204500290
47           78km N of Palu, Indonesia     mww  7.5  1538128963480

## **Agregar datos**


Para agregar datos se sigue el estilo como si fuera la asignación de una variable

In [50]:
#Creo una nueva columna llamada source
tsunamis['source'] = 'USGS'

print(tsunamis.head())

   alert        type                                              title  \
0   None  earthquake  M 5.0 - 165km NNW of Flying Fish Cove, Christm...
1  green  earthquake            M 6.7 - 262km NW of Ozernovskiy, Russia
2  green  earthquake        M 5.6 - 128km SE of Kimbe, Papua New Guinea
3  green  earthquake         M 6.5 - 148km S of Severo-Kuril'sk, Russia
4  green  earthquake        M 6.2 - 94km SW of Kokopo, Papua New Guinea

                                             place magType  mag  \
0  165km NNW of Flying Fish Cove, Christmas Island     mww  5.0
1                  262km NW of Ozernovskiy, Russia     mww  6.7
2              128km SE of Kimbe, Papua New Guinea     mww  5.6
3               148km S of Severo-Kuril'sk, Russia     mww  6.5
4              94km SW of Kokopo, Papua New Guinea     mww  6.2

            time source
0  1539459504090   USGS
1  1539429023560   USGS
2  1539312723620   USGS
3  1539213362130   USGS
4  1539208835130   USGS

<bound method NDFrame.head of           country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]>

In [52]:
# Leer el archivo CSV
# La separación por default es coma (,)
df = pd.read_csv('/content/estudiantes.csv')

# Mostrar las primeras 5 filas
print(df.head())

  Estudiante Curso  Matemáticas  Lengua  Ciencias
0       Juan     A            8       7         6
1      María     A            9       9         8
2      Pedro     B            6       8         7
3        Ana     B            7       6         5
4       Luis     A            8       8         6

In [53]:
# Crear nueva columna 'Promedio'
df['Promedio'] = df[['Matemáticas', 'Lengua']].mean(axis=1)
print(df)

  Estudiante Curso  Matemáticas  Lengua  Ciencias  Promedio
0       Juan     A            8       7         6       7.5
1      María     A            9       9         8       9.0
2      Pedro     B            6       8         7       7.0
3        Ana     B            7       6         5       6.5
4       Luis     A            8       8         6       8.0
5      Sofía     A            9       7         8       8.0
6     Carlos     B            5       6         4       5.5
7      Elena     B            6       7         6       6.5

**Agrupar datos**

Ejercicio: Si tuviéramos datos de diferentes cursos, puedes agrupar por curso y obtener la nota promedio en cada asignatura.

In [55]:
# Crear DataFrame con curso
data_con_curso = {
    'Estudiante': ['Juan', 'María', 'Pedro', 'Ana', 'Luis'],
    'Curso': ['A', 'A', 'B', 'B', 'A'],
    'Matemáticas': [8, 9, 6, 7, 8],
    'Lengua': [7, 9, 8, 6, 8]
}
df_curso = pd.DataFrame(data_con_curso)

print(df_curso)

# Agrupar por curso y calcular el promedio por asignatura solo para las columnas numéricas
promedios_curso = df_curso.groupby('Curso').agg({
    'Matemáticas': 'mean',
    'Lengua': 'mean'
})

# Mostrar los promedios por curso
print(promedios_curso)

  Estudiante Curso  Matemáticas  Lengua
0       Juan     A            8       7
1      María     A            9       9
2      Pedro     B            6       8
3        Ana     B            7       6
4       Luis     A            8       8
       Matemáticas  Lengua
Curso
A         8.333333     8.0
B         6.500000     7.0

**Ordenar los datos**

Ejercicio: Ordena el DataFrame de estudiantes por el promedio de mayor a menor.

In [56]:
# Ordenar por Promedio de mayor a menor
df_sorted = df.sort_values(by='Promedio', ascending=False)
print(df_sorted)

  Estudiante Curso  Matemáticas  Lengua  Ciencias  Promedio
1      María     A            9       9         8       9.0
4       Luis     A            8       8         6       8.0
5      Sofía     A            9       7         8       8.0
0       Juan     A            8       7         6       7.5
2      Pedro     B            6       8         7       7.0
3        Ana     B            7       6         5       6.5
7      Elena     B            6       7         6       6.5
6     Carlos     B            5       6         4       5.5

**Eliminar columnas**

Ejercicio: Elimina la columna Lengua del DataFrame.

In [57]:
# Eliminar la columna 'Lengua'
df_sin_lengua = df.drop(columns=['Lengua'])
print(df_sin_lengua)

  Estudiante Curso  Matemáticas  Ciencias  Promedio
0       Juan     A            8         6       7.5
1      María     A            9         8       9.0
2      Pedro     B            6         7       7.0
3        Ana     B            7         5       6.5
4       Luis     A            8         6       8.0
5      Sofía     A            9         8       8.0
6     Carlos     B            5         4       5.5
7      Elena     B            6         6       6.5

**Manejar valores nulos**

Ejercicio: Añade un valor nulo (NaN) en alguna columna y muestra cómo manejarlo, por ejemplo, rellenándolo con un valor específico.

In [58]:
# Añadir un NaN en el DataFrame
df.loc[2, 'Matemáticas'] = np.nan

print(df)

# Rellenar los NaN con el valor 0
df_llenado = df.fillna(0)
print(df_llenado)

  Estudiante Curso  Matemáticas  Lengua  Ciencias  Promedio
0       Juan     A          8.0       7         6       7.5
1      María     A          9.0       9         8       9.0
2      Pedro     B          NaN       8         7       7.0
3        Ana     B          7.0       6         5       6.5
4       Luis     A          8.0       8         6       8.0
5      Sofía     A          9.0       7         8       8.0
6     Carlos     B          5.0       6         4       5.5
7      Elena     B          6.0       7         6       6.5
  Estudiante Curso  Matemáticas  Lengua  Ciencias  Promedio
0       Juan     A          8.0       7         6       7.5
1      María     A          9.0       9         8       9.0
2      Pedro     B          0.0       8         7       7.0
3        Ana     B          7.0       6         5       6.5
4       Luis     A          8.0       8         6       8.0
5      Sofía     A          9.0       7         8       8.0
6     Carlos     B          5.0       6         4       5.5
7      Elena     B          6.0       7         6       6.5

**Operaciones de conjunto**

Ejercicio: Usa el método merge para combinar dos DataFrames. Supón que tienes datos de estudiantes y sus cursos, y otro DataFrame con las notas finales.

In [59]:
# Datos de estudiantes y cursos
data_estudiantes = {
    'Estudiante': ['Juan', 'María', 'Pedro', 'Ana'],
    'Curso': ['A', 'A', 'B', 'B']
}
df_estudiantes = pd.DataFrame(data_estudiantes)

# Datos de notas finales
data_notas = {
    'Estudiante': ['Juan', 'María', 'Pedro', 'Ana'],
    'Nota_Final': [7, 9, 6, 8]
}
df_notas = pd.DataFrame(data_notas)

# Unir los dos DataFrames por la columna 'Estudiante'
df_combinado = pd.merge(df_estudiantes, df_notas, on='Estudiante')
print(df_combinado)

  Estudiante Curso  Nota_Final
0       Juan     A           7
1      María     A           9
2      Pedro     B           6
3        Ana     B           8

**Calcular el promedio de cada estudiante.**

Ejercicio: Añadir una nueva columna Promedio que sea el promedio de las tres asignaturas para cada estudiante, muestra el promedio a dos digitos.

In [60]:
print(df)
# Calcular el promedio por estudiante
df['Promedio'] = df[['Matemáticas', 'Lengua', 'Ciencias']].mean(axis=1)

# Redondear la columna "Promedio" a 2 decimales
df['Promedio'] = df['Promedio'].round(2)

# Mostrar el DataFrame con el nuevo promedio
print(df[['Estudiante', 'Promedio']])

  Estudiante Curso  Matemáticas  Lengua  Ciencias  Promedio
0       Juan     A          8.0       7         6       7.5
1      María     A          9.0       9         8       9.0
2      Pedro     B          NaN       8         7       7.0
3        Ana     B          7.0       6         5       6.5
4       Luis     A          8.0       8         6       8.0
5      Sofía     A          9.0       7         8       8.0
6     Carlos     B          5.0       6         4       5.5
7      Elena     B          6.0       7         6       6.5
  Estudiante  Promedio
0       Juan      7.00
1      María      8.67
2      Pedro      7.50
3        Ana      6.00
4       Luis      7.33
5      Sofía      8.00
6     Carlos      5.00
7      Elena      6.33

**Contar cuántos estudiantes hay por cada curso.**

Ejercicio: Cuenta cuántos estudiantes hay en cada curso.

In [61]:
# Contar el número de estudiantes por curso
conteo_cursos = df['Curso'].value_counts()

# Mostrar el conteo por curso
print(conteo_cursos)

Curso
A    4
B    4
Name: count, dtype: int64

**Ordenar a los estudiantes por su promedio de mayor a menor.**

Ejercicio: Ordena los estudiantes por su promedio de mayor a menor.

In [63]:
# Ordenar el DataFrame por el promedio de mayor a menor

print(df)
df_ordenado = df.sort_values(by='Promedio', ascending=False)

# Mostrar el DataFrame ordenado
print(df_ordenado[['Estudiante', 'Promedio']])

  Estudiante Curso  Matemáticas  Lengua  Ciencias  Promedio
0       Juan     A          8.0       7         6      7.00
1      María     A          9.0       9         8      8.67
2      Pedro     B          NaN       8         7      7.50
3        Ana     B          7.0       6         5      6.00
4       Luis     A          8.0       8         6      7.33
5      Sofía     A          9.0       7         8      8.00
6     Carlos     B          5.0       6         4      5.00
7      Elena     B          6.0       7         6      6.33
  Estudiante  Promedio
1      María      8.67
5      Sofía      8.00
2      Pedro      7.50
4       Luis      7.33
0       Juan      7.00
7      Elena      6.33
3        Ana      6.00
6     Carlos      5.00

**Encontrar estudiantes con alguna asignatura reprobada (nota menor a 5).**

Ejercicio: Filtra los estudiantes que tengan al menos una asignatura con una nota menor a 5.

In [64]:
# Filtrar estudiantes con alguna asignatura reprobada
estudiantes_reprobados = df[(df['Matemáticas'] < 5) | (df['Lengua'] < 5) | (df['Ciencias'] < 5)]

# Mostrar los estudiantes reprobados
print(estudiantes_reprobados[['Estudiante', 'Matemáticas', 'Lengua', 'Ciencias']])

  Estudiante  Matemáticas  Lengua  Ciencias
6     Carlos          5.0       6         4

**Agrupar los estudiantes por curso y calcular el promedio por curso.**

Ejercicio: Agrupa a los estudiantes por su curso y calcula el promedio de las asignaturas para cada curso.

In [65]:

# Asegurarnos de que las columnas de notas son numéricas (si hay algún error en el tipo de dato, convertimos a numérico)
df[['Matemáticas', 'Lengua', 'Ciencias']] = df[['Matemáticas', 'Lengua', 'Ciencias']].apply(pd.to_numeric, errors='coerce')

# Agrupar por 'Curso' y calcular el promedio por asignatura
promedios_curso = df.groupby('Curso')[['Matemáticas', 'Lengua', 'Ciencias']].mean()

# Mostrar los promedios por curso
print(promedios_curso)

       Matemáticas  Lengua  Ciencias
Curso
A              8.5    7.75       7.0
B              6.0    6.75       5.5